.region-border {
    position: absolute;
    width: 650px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid #9FD5C3;
    border-radius: 10px;
  }